.get-mic {
    width: 70%;
    height: 40px;
    border-radius: 20px;
    background-color: #1A836D;
    color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.re-rec {
    width: 70%;
    height: 40px;
    border-radius: 20px;
    background-color: #BDBDBD;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.audio-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.audio-controls{
    display: flex;
    justify-content: center;
}